:root{
  --svetla: #e8fade;
  --boja1: #8ef0af;
  --boja2: #5bea97;
  --boja3: #20c29f;
  --boja4: #0a4282;
  --boja5: #009245;
}
#post-m{
    display: block;
    margin-top: 80px;
    content: "";
    clear: both;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #post_naslov-m{
    color: var(--boja5);
    font-size: 40px;
    text-align: center;
    padding: 10px;
    word-wrap: inherit;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
  #tema_post-m{
    margin-bottom: 60px;
    color: var(--boja5);
    font-size: 40px;
    text-align: center;
  }
  @media (max-width: 768px) {
    #tema_post-m {
      font-size: 25px;
    }
  }
  #post_tekst-m{
    color:var(--boja4);
    font-size: 18px;
    margin: 10px;
    padding: 5px;
  }
  .post-m{
    background-color: #5bea9790;
    border-radius: 5px;
    border: var(--boja4) solid 3px;
    width: 60%;
  }
  .slika_post-m{
    border-radius: 5px;
    border: var(--boja4) solid 3px;
    margin-top: 10px;
    width: 500px;
  }