:root{
    --svetla: #e8fade;
    --boja1: #8ef0af;
    --boja2: #5bea97;
    --boja3: #20c29f;
    --boja4: #0a4282;
    --boja5: #009245;
  }
  #main2{
    margin-top: 120px;
}
.kartica{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    width: 70%;
    margin-bottom: 30px;
}
.kartica:hover{
    cursor: pointer;
}
.levo{
    margin-left: -25px;
}
.desno{
    margin-left: 32%;
}
.naslov{
    font-size: 25px;
    word-wrap: break-word;
}
@media (max-width: 576px) {
    .levo{
        margin-left: 0px;
    }
    .desno{
        margin-left: 20%;
    }
}