#main2{
    margin-top: 120px;
}
.kartica{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    width: 70%;
    margin-bottom: 30px;
}
.levo{
    margin-left: -25px;
}
.desno{
    margin-left: 32%;
}
.naslov{
    font-size: 25px;
}
@media (max-width: 576px) {
    .levo{
        margin-left: 0px;
    }
    .desno{
        margin-left: 20%;
    }
}