@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
:root{
    --svetla: #e8fade;
    --boja1: #8ef0af;
    --boja2: #5bea97;
    --boja3: #20c29f;
    --boja4: #0a4282;
    --boja5: #009245;
  }

body{
    background-image: url("Slike/PozadinskaSlika.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Electrolize', sans-serif;
}
*{
  font-family: 'Electrolize', sans-serif;
}
.log-box{
    width: 60%;
    height: 80%;
    background-color: var(--boja2);
    border: var(--boja5) solid 5px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.sing_h1{
    font-size: 30px;
    color: var(--svetla);
    margin-top: 0px;
}

.BrightText{
  font-size: 15px;
  color: var(--svetla);
  font-weight: bold;
}

.radioL{
  color: var(--svetla);
  font-size: 20px;
  font-weight: bold;
  margin-left: 2%;
}

.radioR{
  color: var(--svetla);
  font-size: 20px;
  font-weight: bold;
  margin-left: 10%;
}

.RegexWarning{
    font-weight: bolder;
    color: #ff0000;
  }

  .hidden {
    font-size: 0px !important;
  }
[type=text] {
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 0;
    border-bottom: 1px solid var(--boja2);
    height: 45px;
    line-height: 45px;  
    margin-bottom: 10px;
    font-size: 1em;
    color:  rgb(0, 0, 0);
    border-radius: 5px;
    padding-left: 10px;
  }

  [type=number] {
    display: block;
    margin: 0 auto;
    width: 8%;
    border: 0;
    border-bottom: 1px solid var(--boja2);
    height: 45px;
    line-height: 45px;  
    margin-bottom: 10px;
    font-size: 1em;
    color:  rgba(0,0,0,.4);
    border-radius: 5px;
    padding-left: 10px;
  }
  
  [type=password] {
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 0;
    border-bottom: 1px solid var(--boja2);
    height: 45px;
    line-height: 45px;  
    margin-bottom: 10px;
    font-size: 1em;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding-left: 10px;
  }

  [type=tel] {
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 0;
    border-bottom: 1px solid var(--boja2);
    height: 45px;
    line-height: 45px;  
    margin-bottom: 10px;
    font-size: 1em;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding-left: 10px;
  }

  .dugme{
    margin-top: 25px;
    width: 50%;
    border: 0;
    background-color:var(--svetla);
    border-radius: 5px;
    height: 50px;
    color: var(--boja5);
    font-weight: bold;
    font-size: 1em;
  }
  .dugme:hover{
    background-color: var(--boja3);
  }

  [type='text']:focus {
    /*outline: none;*/
    border-color: var(--PurpleMain);
  }

.Hidden2{
  display: none;
}

  .dugme1{
    margin-top: 25px;
    width: 50%;
    border: 0;
    border-radius: 5px;
    height: 50px;
    color: var(--boja5);
    font-weight: bold;
    font-size: 1em;
    background-color:var(--boja1);
    border: 2px dashed var(--boja5);
    padding: 1%;
    text-decoration: none;
  }
  .dugme1:hover{
    background-color: var(--boja3);
  } 
#dugmenazad{
  margin-top: 25px;
  width: 50%;
  border: 0;
  background-color:var(--svetla);
  border-radius: 5px;
  height: 50px;
  color: var(--boja5);
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
  padding: 1%;
}
#dugmenazad:hover{
  background-color: var(--boja3);
}

/* ---------------------------------------------------------------------------------------------------------- */
.formHeadings{
  text-align: left;
  vertical-align: middle;
  padding-top: 25px; 
  margin-left: 2%;
}

.dropzone {
  border: 4px dashed var(--svetla);
  height: 200px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 50%;
  margin-bottom: 20px;

  color: var(--svetla);
  font-weight: bold;
}

.info {
  margin-top: 11%;
}

.dropzone p {
  /*height: 100%;*/
  /*line-height: 200px;*/
  margin: 0%;
  text-align: center;
  width: 100%
}

.dropzone_narrate{
    font-size: 30px;
    color: var(--svetla);
    margin-top: 0px;
    margin-left: 2px;
}

hr {
  height:3px;
  border-width:0;
  background-color: var(--boja5)
}

.odg_input{
  width: 60%;

  display: inline;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 17.25%;
    border: 0;
    border-bottom: 1px solid var(--boja2);
    height: 45px;
    line-height: 45px;  
    margin-bottom: 10px;
    font-size: 1em;
    color:  rgb(0, 0, 0);
    border-radius: 5px;
}

h1{
  color:var(--boja5)!important
}



.rank-box{
  width: 50%;
  height: 80%;
  background-color: var(--boja2);
  border: var(--boja5) solid 5px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 60px;
  text-align: center;

  font-size: 0.5vw;
}
.rank-box4{
  width: 70%;
  height: 80%;
  background-color: var(--boja2);
  border: var(--boja5) solid 5px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
 
  margin-bottom: 30px;
  text-align: center;

  font-size: 0.5vw;
}
.rank-box3{
  width: 40%;
  height: 80%;
  background-color: var(--boja2);
  border: var(--boja5) solid 5px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;

  font-size: 0.5vw;
}
.rank-box2{
width: 100%;
  display: flex;

}
@media (max-width: 800px) {
  .rank-box2 {
    display: block;
    width: 100%;
  }
  .rank-box3{
    width: 85%;
    font-size: 20px;
  }
  .rank-box{
    width: 90%;
  }
  #mesto{
    font-size: 20px;
    height: 50%;
  }
  .rank-box4{
    width: 80%;
    font-size: 20px;
  }
}
#mesto{
  color: #0a4282;
}

.center{
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right:0;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
}

#main3{
  width: 100%;
  display: block;
}